<div class="container mt-4">
  
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-md-start mb-4">Recruitment Management System</h1>
    </div>
  </div>

 
  <div class="row mb-4">
    <div class="col-12">
      <app-candidate-form (addCandidate)="addCandidate($event)"></app-candidate-form>
    </div>
  </div>

  
  <div class="row mb-4">
    <div class="col-12">
      <app-candidate-list
        [candidates]="filteredCandidates"
        (deleteCandidate)="deleteCandidate($event)"
        (search)="onSearch($event)"
        (filter)="onFilter($event)"
      ></app-candidate-list>
    </div>
  </div>

 
  <div class="row mb-4">
    <div class="col-12">
      <app-recruitment-dashboard
        [candidates]="candidates"
        (updateStage)="updateStage($event)"
      ></app-recruitment-dashboard>
    </div>
  </div>


  <div class="row mt-4" *ngIf="candidates.length > 0">
    <div class="card-header bg-secondary text-white">
      <h2 class="text-center">SKill Evaluation</h2>
    </div>

    <div class="col-12">
      <div class="row g-3">
        <div class="row-sm-12 row-md-6 row-lg-4" *ngFor="let candidate of candidates">
          <app-skill-evaluation
            [candidate]="candidate"
            (updateEvaluation)="handleEvaluationUpdate($event)"
          ></app-skill-evaluation>
        </div>
      </div>
    </div>
  </div>

  
  <div class="row mt-4" *ngIf="candidates.length === 0">
    <div class="col-12">
      <p class="text-center text-muted">No candidates available for evaluation.</p>
    </div>
  </div>
</div>
